/* css for nav bar */
.nav{
    background-color: blueviolet;
    height: 55px;
    align-items: center;
    color: white;
    font-size: larger;
    font-weight: 500;
}
.nav>button{
    background: transparent;
    border: none;
    margin-right: 10px;
}
.nav>button>svg{
    width: 45px;
    height: 45px;
}


/* css for student login  */
.teacherlogin{
    color: blueviolet;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.teacherlogin>span{
    width: 270px;
}
.teacherlogin>span>button{
    display: flex;
    width: 100%;
    height: 45px;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    border-radius: 15px;
    background-color: transparent;
    margin-top: 20px;
}
.teacherlogin>span>button>svg{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}